*,
*::after,
*::before {
	margin: 0;
	padding: 0;
}

body {
	margin: 1rem;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

label {
	border: 1px solid #a3a1a1;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	transition: all 0.3s;
}

label:hover {
	box-shadow: 0px 1px 2px #000;
}

input {
	padding: 10px;
	border: 1px solid #a3a1a1;
	border-radius: 5px;
	padding-inline: 0.5rem;
}

.text-box {
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
}

.test-interactive {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 15rem;
}
